.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="firstName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="lastName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password_confirmation"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.links {
  display: flex;
  flex-direction: row;
}

.links > li {
  margin-right: 25px;
}
.titleButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: blue;
}
.hoveredButton:hover .deleteEditButtons {
  display: block;
}
.deleteEditButtons {
  display: none;
}

.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.ReactModal__Content {
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  top: 2.5rem;
  bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}
.taskDetail {
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
}
.taskDetail__content {
  background: #d5f7f7;

  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  margin: auto;
  text-align: center;
}

.login {
  color: aliceblue;
  margin-top: 10px;
  margin-right: 10px;
}
.avatar {
  align-items: center;
  margin-right: 8px;
  margin-top: 9px;
  color: aliceblue;
}
.deleteButton {
  color: red;
  cursor: pointer;
}
.completedButton {
  color: green;
  cursor: pointer;
}

.listItem {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 1px;
  padding: 15px;
}
.headerTable {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* Styling table */
table {
  width: 550px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  table-layout: fixed;
}
th {
  padding: 10px 20px;
  background: #56433d;
  color: #f9c941;
  border-right: 2px solid;
  font-size: 0.9em;
}
th:first-child {
  text-align: left;
}

td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433d;
  border-bottom: 2px solid #56433d;
  border-right: 2px solid #56433d;
  word-wrap: break-word;
}
td:first-child {
  border-left: 2px solid #56433d;
  border-right: 2px solid #56433d;
  width: 19%;
}
td:nth-child(2) {
  border-left: 2px solid #56433d;
  border-right: 2px solid #56433d;
  word-wrap: break-word;
}
.tasksTables {
  display: flex;
  justify-content: space-between;
}
.completedTasks {
  margin-top: 55px;
}
