.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="firstName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="lastName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password_confirmation"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.links {
  display: flex;
  flex-direction: row;
}

.links > li {
  margin-right: 25px;
}
.titleButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: blue;
}
.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.ReactModal__Content {
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  top: 2.5rem;
  bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}
.taskDetail {
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
}
.taskDetail__content {
  background: #d5f7f7;
  /* margin-top: 80px; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  margin: auto;
  text-align: center;
}
.table-auto {
  width: 50%;
  margin-bottom: 20px;
}
.login {
  color: aliceblue;
  margin-top: 10px;
  margin-right: 10px;
}
.avatar {
  align-items: center;
  margin-right: 8px;
  margin-top: 9px;
  color: aliceblue;
}
