body {
  background-color: #e7eff8;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="firstName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="lastName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password_confirmation"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.links {
  display: flex;
  flex-direction: row;
}

.links > li {
  margin-right: 25px;
}
.home__title {
  text-align: center;
  margin-top: 25px;
}
.home__checkAll {
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.checkbox__input {
  transform: scale(1.8);
  opacity: 0.9;
  cursor: pointer;
  margin-bottom: -10px;
}
.home__checkAll-text {
  margin-left: 15px;
}

.titleButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: rgb(55, 59, 61);
  font-size: 25px;
  font-weight: 600;
}
.titleButton:active,
.titleButton:focus {
  outline: none;
}
.list__title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(99, 50, 43);
}
.hoveredButton:hover .deleteEditButtons {
  display: inline-block;
}
.deleteEditButtons {
  display: none;
}
.card {
  margin-top: 5px;
  border-radius: 25px;
}
.card-body__inner--title:hover {
  font-weight: 500;
  color: blue;
}
.card-body__inner--title {
  margin-left: 15px;
}
.card-body__inner {
  display: flex;
  background-color: rgb(226, 234, 241);
  align-items: center;
  padding: 30px 10px;
  border-radius: 25px;
}
.card-body__inner:hover .deleteEditButtons {
  display: flex;
}
.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.ReactModal__Content {
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  top: 2.5rem;
  bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}
.taskDetail {
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
}
.taskDetail__content {
  background: #d5f7f7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  margin: auto;
  text-align: center;
}
.login {
  color: aliceblue;
  margin-top: 10px;
  margin-right: 10px;
}
.avatar {
  align-items: center;
  margin-right: 8px;
  margin-top: 9px;
  color: aliceblue;
}
.listItem {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 1px;
  padding: 15px;
}
.completedTasks {
  margin-top: 15px;
}
.not_authorized {
  text-align: center;
  font-size: 55px;
  color: rgb(49, 45, 45);
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.pageNotFound {
  text-align: center;
  font-weight: 700;
  margin-top: 200px;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
}
.loadingSuspense {
  text-align: center;
  font-weight: 600;
  margin-top: 100px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.completedTasks {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-left: 15px;
}
.cards {
  width: 100%;
  margin-left: 15px;
  min-height: 150px;
  max-width: 345px;
  margin-top: 15px;
}
.tasks__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.tasks__switcher-button {
  padding: 10px 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.tasks__switcher-button:active,
.tasks__switcher-button:focus {
  outline: none;
}
.tasks__switcher-button:hover {
  color: rgb(121, 119, 115);
}
.activeTasks__buttons {
  display: flex;
}
